@import '../../../assets/styles/scss/_variables';
:host{
    display: block;
    padding-bottom: 50px;
    position: relative;
}

input, textarea {
    width: 100%;
    background: none;
    border: none;
    color: white;
    &::placeholder{
        color: $white-dull;
    }
}

input {
    display: inline-block;
    height: 100%;
    font-size: inherit;
    font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
    width: 300px;
}

textarea {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 0.85rem;
    resize: none;
}

.controls {
    display: flex;
}

.copy-btn{
    @extend %circle-btn;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    text-align: center;

    svg{
        display: inline-block;
        height: 11px;
        path {
            fill: $white;
        }

        .check {
            opacity: 0;
            transition: opacity .2s ease-out;

            &.show {
                opacity: 1;
            }
        }
    }
}

.switch__slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $white-translucent;
    border-radius: 20px;
    cursor: pointer;

    &::before {
         position: absolute;
         content: '';
         top: 3px;
         left: 3px;
         bottom: 3px;
         width: calc(50% - 6px);
         background-color: white;
         transition: transform .4s ease-in-out;
         border-radius: 50%;
    }
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    &.active{
        .switch__slider{
            background-color: $white-semilucent;
            &::before {
                transform: translateX(calc(100% + 6px));
            }
        }
    }
}

.minus-btn, .cross-btn {
    margin-left: 10px;
}

.minus-btn--small {
    vertical-align: middle;
}

.timer {
    text-align: center;
    letter-spacing: 10px;
    padding: 0.5em 0 1em;
}

.tick {
    margin-bottom: 5px;
}

.total h2 {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

.message {
    position: absolute;
    display: inline-block;
    width: 140px;
    text-align: center;
    bottom: 20px;
    left: calc(50% - 70px);
    padding: 5px 0;
    font-size: 0.8rem;
    background-color: $white-translucent;
    border-radius: 20px;
}
