<div>
    <div class="flex-space-between">
        <h2><input [(ngModel)]="taskName" [ngModelOptions]="{standalone: true}" placeholder="{{taskName ? taskName : 'Task Name'}}" /></h2>
        <div>
            <label class="switch" (click)="track($event)" [class.active]="active">
                <span class="switch__slider"></span>
            </label>
            <button class="btn-primary minus-btn" (click)="removeTask()"></button>
        </div>
    </div>
    <hr>
    <div class="timer" *ngIf="timer">
        <span class="big-text">{{timer.hours | round | number:'2.0-0'}}:{{timer.minutes | round | number:'2.0-0' }}</span>
    </div>

    <div *ngFor="let tick of ticks" class="tick">
        <div class="flex-space-between" (click)="tick.showNote = !tick.showNote">
            <span>{{tick.tickInAt | date:'shortTime'}} - {{tick.tockOutAt | date:'shortTime'}}</span>
            <div *ngIf="tick.duration">
                <span>{{tick.duration | number:'1.2-2'}} hours</span>
                <button class="btn-primary minus-btn minus-btn--small" (click)="removeTick(tick)"></button>
            </div>
        </div>
        <textarea elastic rows="1" *ngIf="tick.showNote" [(ngModel)]="tick.note" [ngModelOptions]="{standalone: true}" placeholder="{{tick.note ? tick.note : 'Note'}}"></textarea>
    </div>
    <div class="flex-space-between total" *ngIf="totalDuration">
        <h2>total</h2>
        <div><span class="big-text">{{totalDuration | number: '1.2-2'}}</span> hours</div>
    </div>
</div>
