.content {
    margin-right: 15px;
}

.title {
    display: inline-block;
    -webkit-user-select: none;
    -webkit-app-region: drag;
    cursor: -webkit-grab;
    cursor: grab;
    margin: 1rem 0;
    text-transform: uppercase;
}

.tasks {
    max-height: 700px;
    overflow-y: scroll;
}
