@import '../assets/styles/scss/_variables';
.content {
    margin-right: 15px;
}

.title {
    display: inline-block;
    -webkit-user-select: none;
    -webkit-app-region: drag;
    cursor: -webkit-grab;
    cursor: grab;
    margin: 1rem 0;
    text-transform: uppercase;
}

.tasks {
    min-height: 300px;
    max-height: 700px;
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-track {
        background-color: rgba(white, .15);
        border-radius: 3px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $white-dull;
        border-radius: 3px;
    }
}
