/*
 * Colors
 */
$white: #fff;
$white-crystal: rgba($white, .2);
$white-translucent: rgba($white, .3);
$white-semilucent: rgba($white, .55);
$white-dull: rgba($white, .7);

/*
 * Font Weight
 */
$light: 300;
$regular: 400;
$semibold: 500;
$bold: 700;
$black: 900;


/*
 * Placeholders
 */
%circle-btn {
    display: inline-block;
    position: relative;
    border-radius: 50%;
    font-family: 'Open Sans', sans-serif;
    padding: 0;
}
