@import 'assets/styles/scss/_variables';
@import 'assets/styles/scss/_josefin-sans';
@import 'assets/styles/scss/_open-sans';

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    line-height: 1.2;
    background-color: transparent;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $white;
    overflow-x: hidden;
}

h1, h2, h3 {
    font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
    -webkit-margin-before: 0.5rem;
    -webkit-margin-after: 0.5rem;
}

h1 {
    font-size: 2rem;
}

h2 {
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: $semibold;
}

.big-text {
    display: inline-block;
    font-size: 3rem;
    font-weight: $bold;
}

hr{
    border: none;
    border-top: 1px solid white;
}

*, *::before, *::after {
    box-sizing: border-box;
    outline: none;
}

::selection {
    background: $white-crystal;
}

a {
    text-decoration: none;
    cursor: pointer;
}

button {
    outline: none;
    border: none;
    cursor: pointer;
}

.flex-space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-primary {
    color: white;
    background-color: $white-translucent;

    &:hover{
        background-color: $white-semilucent;
    }
}

.btn-secondary {
    color: white;
    border: 1px solid $white;
    background-color: transparent;
    transition: background-color .2s ease-in-out;

    &:hover{
        background-color: $white-translucent;
    }
}

.plus-btn {
    @extend %circle-btn;
    width: 40px;
    height: 40px;
    font-size: 25px;
}

.minus-btn {
    @extend %circle-btn;
    width: 20px;
    height: 20px;

    &--small{
        width: 14px;
        height: 14px;
    }

    &:before{
        position: absolute;
        content: '';
        top: 50%;
        left: 50%;
        width: 40%;
        height: 2px;
        background-color: $white;
        transform: translate(-50%, -50%);
    }
}

.cross-btn {
    @extend %circle-btn;
    width: 20px;
    height: 20px;

    &::before, &::after{
        position: absolute;
        content: '';
        top: 50%;
        left: 50%;
        width: 50%;
        height: 2px;
        background-color: $white;

    }

    &::before {
        transform: translate(-50%, -50%) rotate(-45deg);
    }
    &::after {
        transform: translate(-50%, -50%) rotate(45deg) ;
    }
}
